<html>
<head>
<title>Mock Authorization Request page</title>
</head>
<body>
	<h1>Mock Authorization Request page</h1>
	<img src="_CONTEXT_/askAuthImage-_SCOPE_.png">
	<p>
	   <div><a href="_CONTEXT__SERVLET_/authResponse?auth=true">AUTHORIZE</a></div>
	   <div><a href="_CONTEXT__SERVLET_/authResponse?auth=false">DENY</a></div>
	</p>
</body>
</html>