<html>
<head>
<title>Mock login page</title>
</head>
<body>
	<h1>Mock login page</h1>
	<img src="_CONTEXT_/loginImage.png">
	<p>
	   Login as:
	   {{loginLink <div><a href="_CONTEXT__SERVLET_/login?orcid=_ORCID_">_ORCID_</a></div>}}
	</p>
</body>
</html>